html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding:20px;
}

* {
    box-sizing: border-box;
}

.dashboard-item-container {
    margin: 10px;
    background-color: #68CBE0;
    margin-bottom: 20px;
    height: 36px;
    border-radius: 4px;
    padding-left : 20px;
    
}

.dashboard-item {
    font-size: 18px;
    padding: 5px;
    color: white;
}

#dashboard-container {
    position: relative;
    top: 50px;
    font-family: cursive;
}

#home {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #68CBE0;
    font-size: 42px;
    margin-bottom: 28px;
}

